@font-face{
    font-weight: 400;
    font-style: normal;
    font-family: 'Barlow', sans-serif;
    src: url(../fonts/Barlow-Regular.ttf);
}
@font-face{
    font-weight: 700;
    font-style: normal;
    font-family: 'Barlow', sans-serif;
    src: url(../fonts/Barlow-Bold.ttf);
}
@font-face{
    font-weight: 900;
    font-style: normal;
    font-family: 'Fraunces', serif;
    src: url(../fonts/Fraunces-Black.ttf);
}