.main__text2{
    background-image: url(../images/Bitmap\ \(2\).jpg);
    background-size: 100% 100%;
    padding: 50px;
    
    background-repeat: no-repeat;
    margin-top: 30px;
}
.main__text2 h1{
    width: 493px;
    height: 145px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* or 100% */


    color: #FEFCF7;
   
   
}
.main__text2 p{
    width: 445px;
    height: 78px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */


    color: #FEFCF7;
    margin-top: -100px;
   
}
.main__text1 h1{
    width: 485px;
    height: 72px;
    
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* identical to box height, or 100% */


    color: #FEFCF7;

   
   
}
.bitmap{
    background-image: url(../images/Bitmap\ \(3\).png);
   
    width: 440px;
    height: 500px;
    margin-left: 80px;
    margin-top: 120px;
    

}
.bitmap__title{
    margin-left: 500px;
    padding-top: 70px;
 
    
}
.bitmap__title h2{
    
    width: 357px;
    height: 48px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */


    color: #333D4B;

}
.bitmap__title p{
    width: 540px;
    height: 260px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */


    color: #333D4B;

    mix-blend-mode: normal;
    opacity: 0.8;

}
.bitmap2{
    position: absolute;
    width: 1280px;
    height: 474px;
    background: #2C343E;
    border-radius: 10px;
    margin-top: 200px;
    
    
    
}
.bitmap2__image{
    
    background-image: url(../images/Bitmap\ \(4\).png);
    width: 440px;
    height: 470px;
    margin-left: 760px;
    margin-top: -110px;
    
    
    

    
}
.bitmap2__title{
    margin-left: -500px;
    padding-top: 40px;
}
.bitmap2__text{
    width: 517px;
    height: 48px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */


    color: #FEFCF7;
    margin-left: -670px;
    padding-top: 150px;

}
.bitmap2__text2{
    width: 540px;
    height: 130px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */


    color: #FEFCF7;

    mix-blend-mode: normal;
    opacity: 0.8;
    margin-left: -670px;
    padding-top: 50px;
}
.headquarters__title{
    width: 255px;
    height: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    
    /* identical to box height, or 133% */


    color: #83888F;
    margin-top: 900px;
}
.headquarters__list{
    display: flex;
    margin-top: 70px;
    margin-left: -40px;
    
}
.headquarters__subject2{
    margin-left: 60px;
    
}
.headquarters__text{
    width: 272px;
    
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */


    color: #333D4B;
   
}

.headquarters__text1{
    width: 285px;
    
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
   
    /* or 162% */


    color: #333D4B;
    margin-left: -40px;

}
.btn-banner{
    text-decoration: none;
    background-color: #0E8784;
    padding: 16px 50px;
    color: #FFFFFF;
    background: #0E8784;
    border-radius: 5px;
    
    
}
.headquarters__image{
    margin-left: 60px;
}

.btn-banner:hover {
    background: #0f9489;
}